<div class="bg-white">
    <section
      class="bg-center bg-no-repeat bg-[url('https://images.unsplash.com/photo-1619975103820-dd1fe6e1e4e5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-gray-200 bg-blend-multiply"
    >
      <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="mx-auto max-w-7xl py-32 sm:py-48 lg:py-56">
          <div class="text-center">
            <h1 class="text-4xl font-tenor tracking-tight text-white sm:text-6xl">
                PASIÓN POR TU SALUD, RESULTADOS EXCEPCIONALES
            </h1>
          </div>
        </div>
      </div>
    </section>
  </div>
